button
    margin: 8px 8px
    padding: 8px 24px
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
    border-radius: 4px
    text-transform: uppercase
    font-weight: 500
    cursor: pointer
    font-family: $mainFont
    color: $primary
    line-height: 1.75

    &[type~='text']
        border: 1px solid #0000
        border: none
        border-width: 0
        border-style: none
        background-color: inherit

        &:hover
            background-color: $primaryWhite

        &[disabled]
            color: $primaryDisabled
            cursor: default

            &:hover
                background-color: inherit

    &[type~='outlined']
        border: 1px solid $primaryLight
        background-color: inherit
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center

        &:hover
            background-color: $primaryWhite
            border-color: $primary

        &[disabled]
            cursor: default
            border-color: $primaryDisabled
            color: $primaryDisabled

            &:hover
                background-color: inherit

    &[type~='contained']
        box-shadow: $shadow
        border: 1px solid $primary
        background-color: $primary
        color: $primaryContrast

        &:hover
            border-color: $primaryHover
            background-color: $primaryHover


        &[disabled]
            cursor: default
            border-color: $primaryDisabled
            background-color: $primaryDisabled
