@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$mainFont: 'Roboto';

$whiteHover: #f4f4fa;
$light-gray: #b1b1b1;
$error: #ff2600;

$BG: #101010;

$primary: #ffffff;
$primaryWhite: #eeeeee;
$primaryLight: #dddddd;
$primaryContrast: #222222;
$primaryHover: #cccccc;
$primaryDisabled: #888888;

$secondary: #b1b1b1;

$navBG: #363636;
$navPrimary: #ffffff;
$navSelected: #5a5a5a;
$navSelectedBorder: #d0d0d0;
$navHover: #414141;
$navDisabled: #b1b1b1;

$shadow: 2px 2px 2px 2px #0004;
$navHeight: 60px;
