@import 'variables';
@import './components/index';

body {
    margin: 0;
    background-color: $BG;
}

#app {
    font-family: 'Roboto', sans-serif;

    .app-container {
        .app-content-container {
            margin: 0;
            color: $primary;

            h1 {
                font-size: 2.5em;
                font-weight: 300;
            }
        }
    }
}
